.footer
	position: relative
	width: 144em
	margin: 0 auto 100px
	min-height: 40vh
	background-image: url("../../../assets/images/wrapper.jpg")
	background-attachment: fixed
	background-position: center center
	background-repeat: no-repeat
	background-size: 100vw 100vh
	display: flex
	align-items: center
	justify-content: flex-end

	&__box
		color: white

		h2
			font-weight: 300
			text-align: center
			font-size: 2.3rem
			padding: 0 0 10px 0

			span
				font-weight: 500

		a
			border-bottom: 1px solid white
			font-weight: 300
			color: white
			letter-spacing: 1.25px
			font-size: 1.6rem

	&__placeholder1
		position: absolute
		top: -30%
		right: 0
		width: 10px
		height: 100%
		background: $color--accent-gray

	h3
		cursor: default
		position: absolute
		bottom: 0
		right: 0
		text-align: center
		width: 30%
		background: white
		line-height: 50px
		padding: 0 20px
		font-size: 1.4rem
		font-weight: 300
		letter-spacing: 1.5px

	&__content
		position: relative
		display: flex
		flex-direction: column
		justify-content: space-evenly
		align-items: center
		background: $color--accent-gray
		height: 40vh
		width: 30%

	&__tile-container
		width: 100%
		display: flex
		justify-content: center
		align-items: center

	&__tile
		position: relative
		margin: 0 30px
		transition: all .3s ease
		display: flex
		flex-direction: column

		a
			width: 100%
			height: 100%
			font-size: 3rem
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center

			i
				color: white

		span
			position: absolute
			min-width: 220px
			color: white
			bottom: -120%
			left: -320%
			font-size: 1.4rem
			letter-spacing: 2px
			display: none
			cursor: default
			text-align: center

		&:hover span
			display: block

	&__brief
		position: relative
		text-align: center
		color: white

		a
			font-size: 1.6rem
			font-weight: 300
			color: gray
			border-bottom: 1px solid gray
			cursor: pointer

		&:hover
			visibility: hidden

		&:hover .tooltip
			visibility: visible

		.tooltip
			position: absolute
			width: 250px
			top: 0
			left: 0
			color: white
			font-size: 1.3rem
			font-weight: 300
			letter-spacing: 2px
			visibility: hidden
			cursor: default
			text-align: left

.phone
	position: relative


@media screen and (min-width: 320px) and (max-width: 980px)
	.footer
		width: 100%
		background-image: none
		flex-direction: column

		&__placeholder1
			display: none

		&__content
			width: 100%

		h3
			position: relative
			width: 100%
