.projects
	position: relative
	min-height: 50vh
	padding: 100px 0

	&__placeholder1
		position: absolute
		top: 0
		right: 0
		width: 30%
		height: 100%
		background: $color--accent-gray

	.short
		position: absolute
		font-size: 2.6rem
		font-weight: 400
		font-family: $font--title
		text-transform: uppercase
		background: $color--accent-gray
		top: 50px
		text-align: center
		left: 0
		color: white
		height: 50px
		line-height: 50px
		width: 30%
		cursor: default
		z-index: 2

		&::before
			position: absolute
			content: ''
			top: -100%
			left: 0
			width: 10px
			height: 100%
			background: $color--accent-gray

	&__content
		width: 70%
		display: flex
		min-height: 100vh
		padding: 100px 100px 0 0
		flex-direction: row
		flex-wrap: wrap
		//justify-content: space-between