.services
	position: relative
	margin-top: 250px
	padding: 0 0 100px 0
	background: $color--accent-gray
	color: $color--light

	.placeholder-1
		position: absolute
		bottom: -10%
		right: 0
		width: 65%
		height: 40%
		background-image: url("../../../../assets/images/bg3.jpg")
		background-attachment: fixed
		background-size: 100% 100%
		background-position: center center
		display: flex
		align-items: center
		justify-content: center

	.short
		position: relative
		top: 0
		width: 35%
		height: 50px
		background: white
		text-align: right
		color: $color--accent-gray
		font-size: 2.3rem
		text-transform: uppercase
		font-family: $font--title
		font-weight: 400
		padding: 10px 45px 10px 15px
		cursor: default

	&__content
		position: relative
		min-height: 70vh
		padding-top: 70px
		margin-bottom: 150px
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: flex-start
		justify-content: flex-start

	&__tile
		padding: 0 100px
		width: 50%

		&:nth-child(5)
			margin: 0 70px

		i
			font-size: 2.5rem
			color: $color--accent

		h3
			margin-top: 30px
			font-size: 2rem
			text-transform: uppercase
			font-family: $font--title
			letter-spacing: 1.5px
			font-weight: 400

		&-heading
			display: flex
			flex-direction: column
			align-items: center

		&-content
			padding: 20px 40px

			p
				font-size: 1.3rem
				line-height: 23px
				font-family: $font--primary

@for $i from 1 to 10
	.services__tile:nth-child(#{$i})
		transition-delay: $i * 0.5s

@media screen and (min-width: 320px) and (max-width: 980px)
	.services
		margin-top: 0
		padding: 0

		.short
			width: 70%

		&__content
			flex-direction: column
			justify-content: center
			align-items: center
			margin: 0 0 100px 0

		&__tile
			width: 100%
			padding: 50px 0

			&-content
				text-align: center

		.placeholder-1
			display: none
