.services
	min-height: 50vh
	padding: 100px 0 50px
	background: $color--accent-gray
	color: $color--light

	.short
		position: relative
		top: -100px
		width: 40%
		background: white
		text-align: right
		color: $color--accent-gray
		font-size: 2.3rem
		text-transform: uppercase
		font-family: $font--title
		font-weight: 400
		padding: 10px 45px 10px 15px

	&__content
		position: relative
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content: center

	&__tile
		padding: 25px
		width: 33%

		&-heading
			display: flex
			flex-direction: column
			align-items: center

		i
			font-size: 2.8rem
			color: $color--light

		h3
			margin-top: 30px
			font-size: 1.7rem
			text-transform: uppercase
			font-weight: 400

