.project

	&__nav
		position: absolute
		top: 0
		right: 0
		background: white
		height: 50px
		width: 65%
		display: flex
		justify-content: flex-end
		align-items: center

		&-link
			color: $color--accent-gray
			background: white
			text-transform: uppercase
			font-weight: 500
			font-size: 1.2rem !important
			padding: 10px 15px
			border: 2px solid $color--accent-gray

	&__list
		padding: 0
		width: 50%
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between

