[data-anim='draw-left']

	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 1
		background: white
		visibility: visible
		transition: all 2s ease

	&.elem-animate

		&::before
			width: 0
			visibility: hidden

[data-anim='draw-right']

	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: white
		visibility: visible
		z-index: 1
		transition: all 2s ease

	&.elem-animate

		&::before
			left: 100%
			width: 0
			visibility: hidden

[data-anim='draw-bottom']

	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: white
		transition: all 2s ease
		z-index: 1

	&.elem-animate

		&::before
			transition: all 2s ease
			top: 100%
			height: 0
			visibility: hidden

[data-anim='draw-top']

	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: white
		transition: all 2s ease
		z-index: 1

	&.elem-animate

		&::before
			transition: all 2s ease
			height: 0
			visibility: hidden